.container {
  background-color: white;
  border-radius: 2rem;
  width: 30rem;
  height: 25rem;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right {
  width: 50%;
  background-color: rgb(236, 236, 236);
  border-radius: 0 2rem 2rem 0;
  height: 100%;
  background-size: cover;
}

.rightContent {
  display: flex;
  border-radius: 0 2rem 2rem 0;
  flex-direction: column;
  background-color: rgba(182, 181, 147, 0.356);
  width: 100%;
  height: 100%;
}

.textContainer {
  padding: 2rem;
}

.labelContainer {
  display: flex;
  flex-wrap: wrap;

}



@media only screen and (max-width: 600px) {

  .container {
    width: 95vw;
  }

  .left {
    width: 70%;
  }

  .right {
    width: 30%;
  }

} 
