.container {
  height: 5vh;
}

.container ul {
  margin-top: 2rem;
  letter-spacing: 0.4rem;
  width: 50rem;
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(29, 29, 29);
  font-family: var(--primary-font), sans-serif;
  list-style: none;
}

.container li {
  list-style: none;
  width: 10rem;
  text-align: center;
}

.about {
  border-bottom: 0.1rem solid rgb(29, 29, 29);
}

.container a:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, red, rgb(30, 45, 126));
  background-clip: text; 
  color:transparent;
  transition: 0.3s;
}
