.container {
  height: 5vh;
}

.container ul {
  margin-top: 2rem;

  letter-spacing: 0.4rem;
  width: 50rem;
  max-width: 80vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: white;
  font-family: var(--primary-font), sans-serif;

  list-style: none;
}

.container li {
  list-style: none;
  width: 10rem;
  text-align: center;
}

.about {
  border-bottom: 0.1rem solid white;
}


.container a:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.747);
}
