a {
  display: block;
}

.button {
  margin: auto;
  background-color: white;
  padding: 0.9rem 2rem;
  cursor: pointer;
  border-radius: 0.7rem;
  font-size: 0.9rem;
  background-color: #1d3a64;
  color: white;
  font-weight: 600;
}

.button:hover {
  background-color: rgb(45, 65, 95);
  transition: 0.3s;
}
