.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--size-margin-l);
  height: 35px;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: var(--size-text-l);
  border-bottom: 4px solid var(--color-text-secondary);
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: var(--size-text-s);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-text-secondary);
}

.nav li:hover {
  color: var(--color-text);
  cursor: pointer;
}

.nav li + li {
  margin-left: 2rem;
}

.sectionHeadline {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  color: var(--color-text-secondary);

  letter-spacing: 0.1rem;

  font-family: var(--font-secondary), "Courier New", monospace;
}

.aboutText {
  font-weight: 800;
  font-size: 3.5rem;
  max-width: 100%;
  width: 600px;
  text-align: center;
  margin: 0 0 var(--size-margin-l) 0;
  word-wrap: normal;
  word-break: normal;
}


.aboutText.animationFinished {
  color: var(--color-text-tertiary);
  transition: color 1s;
}

.aboutSection {
  height: calc(100vh - 35px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15vh;
}

.contact {
  font-family: var(--font-secondary), "Courier New", monospace;
  color: var(--color-text-secondary);
  font-size: var(--size-text-l);
}

.arrow {
  font-size: var(--size-text-xl);
  top: 3px;
  position: relative;
}

.headerRight {
  display: flex;
  align-items: center;
}

.cursor {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 7px;
  height: 3.5rem;
  background-color: var(--color-text-secondary);
  animation: blinking 1s steps(2, start) infinite;
}

.type {
  animation: typing 1.5s steps(20, end) forwards;
  max-width: 0px;
}

.remove {
  animation: removing 1.5s steps(20, end) forwards;
  max-width: 100%;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes removing {
  from {
    max-width: 100%;
  }
  to {
    max-width: 0;
  }
}
@keyframes blinking {
  to {
    background-color: transparent;
  }
}

.switchContainer {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.switch {
  margin: 0 var(--size-margin-m);
  /* margin-left: var(--size-margin-xl); */
}

.switchIcon {
  height: 1.2rem;
}
.switchIcon:hover {
  cursor: pointer;
}

.repeatIcon {
  height: 3rem;
  margin-left: var(--size-margin-m);
}

.repeatIcon:hover {
  cursor: pointer;
}


@media (max-width: 768px) {
  .aboutText { 
    box-sizing: border-box;
    font-size: 2.65rem;

    padding: 0 var(--size-margin-xl);
  }

  .cursor {
    height: 2.65rem;

  }
}

