@import url("https://fonts.googleapis.com/css?family=Open+Sans:800i&display=swap");

.app {
  background-image: linear-gradient(to bottom right, red, yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.landing {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.titleTextContainer {
  color: white;

  font-style: italic;
}

.title {
  font-size: 3rem;
}

.subTitle {
  font-size: 1.5rem;
}

.landing:before {
  height: 5rem;
  content: "";
  visibility: hidden;
  margin-top: auto;
}

.scrollDown {
  height: 5rem;
  color: white;
  margin-top: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.downIcon {
  font-size: 3rem;
  margin: 0.3rem;
}

.downText {
  font-size: 1.5rem;
}

.projectsContainer {
  margin: 0 auto;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}

@media screen and (max-width:80rem) { .projectsContainer { width: 35rem; } }
@media screen and (min-width: 80rem) and (max-width: 110rem) {
  .projectsContainer {
    width: 64rem;
  }
}
@media screen and (min-width: 120rem) and (max-width: 130rem) {
  .projectsContainer {
    width: 96rem;
  }
}

.projectContainer {
  display: inline-block;
  margin: 1rem;
}

.header {
  position: fixed;
  color: white;
  font-size: 1.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftHeader {
  left: 0;
  margin: 1rem;
  display: flex;
  align-items: center;
}

.rightHeader {
  right: 0;
  margin: 1rem;
  display: flex;
  align-items: center;
}

.icon {
  margin: 0.3rem;
}

.cvIcon {
  margin: 0.3rem;
  font-family: "Open Sans", sans-serif;
}

.header a {
  display: flex;
  align-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .projectsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .projectContainer {
    margin: 0 0 1rem 0;
  }

  .header {
    background-color: black;
  }
}
