.app {
  /* background-image: linear-gradient(to bottom right, red, yellow); */
  background-image: linear-gradient(to bottom right, red, rgb(30, 45, 126));

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navigation {
  position: absolute;
  margin: auto;
}

.landing {
  font-family: var(--primary-font), sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.titleTextContainer {
  color: white;
  max-width: 25rem;
  text-align: center;
  font-style: italic;
}

.title {
  font-size: 3rem;
}

.subTitle {
  font-size: 1.5rem;
}

.description {
  margin-top: 2rem;
  font-family: var(--secondary-font), sans-serif;
  font-style: normal;
}

.landing:before {
  height: 5rem;
  content: "";
  visibility: hidden;
  margin-top: auto;
}

.scrollDown {
  height: 5rem;
  color: white;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.downIcon {
  font-size: 3rem;
  margin: 0.3rem;
}

.projectsHeadline {
  font-size: 3rem;
  font-family: var(--primary-font), sans-serif;
  color: white;
  margin-bottom: 2rem;
}

.projectsContainer {
  margin: 0 auto;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 80rem) {
  .projectsContainer {
    width: 35rem;
  }
}
@media screen and (min-width: 80rem) and (max-width: 110rem) {
  .projectsContainer {
    width: 64rem;
  }
}
@media screen and (min-width: 120rem) and (max-width: 130rem) {
  .projectsContainer {
    width: 96rem;
  }
}

.projectContainer {
  display: inline-block;
  margin: 1rem;
}

.socialBanner {
  position: fixed;
  right: 0;
  top: 20vh;
}

.header {
  display: none;
}

.icon {
  margin: 0.3rem;
}

.cvIcon {
  margin: 0.3rem;
  font-family: var(--primary-font), sans-serif;
}

.header a {
  display: flex;
  align-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.contactMeButton {
  display: flex;
  align-items: center;
  margin: 3rem 0;
}

.contactMeButton span {
  margin-left: 0.5rem;
}

.button {
  align-self: center;
  border: 0.1rem solid white;
  color: white;
  padding: 0.7rem 1rem;
  cursor: pointer;
  border-radius: 0.7rem;
  font-family: var(--primary-font), sans-serif;
  background-color: rgba(255, 255, 255, 0.26);

  font-size: 1.5rem;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.411);
  color: white;
  transition: 0.3s;
}

@media only screen and (max-width: 600px) {


  .projectsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .projectContainer {
    margin: 0 0 1rem 0;
  }

  .socialBanner {
    display: none;
  }

  .header {
    position: fixed;
    color: white;
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
  }

  .leftHeader {
    left: 0;
    margin: 1rem;
    display: flex;
    align-items: center;
  }

  .rightHeader {
    right: 0;
    margin: 1rem;
    display: flex;
    align-items: center;
  }
}
