@import url('https://fonts.googleapis.com/css?family=Open+Sans:800i|Roboto+Mono&display=swap');


:root {
  --secondary-font: 'Roboto Mono';
  --primary-font: 'Open Sans';
}

body {
  margin: 0;
  font-family: var(--secondary-font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

