@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@font-face {
  font-family: "Iosevka";
  src: local("Iosevka"), url(./fonts/iosevka-regular.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Iosevka";
  src: local("Iosevka"), url(./fonts/iosevka-thin.woff2) format("woff2");
  font-weight: thin;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  all: unset;
}

:root {
  --font-secondary: "Iosevka";

  --color-text: #3c3f48;
  --color-text-secondary: #828692;
  --color-text-tertiary: #ced1d9;

  --color-bg: #ededed;
  --color-bg-secondary: #d8d8d8;

  --size-text-xl: 1.8rem;
  --size-text-l: 1.5rem;
  --size-text-m: 1rem;
  --size-text-s: 0.9rem;
  --size-text-xs: 0.6rem;

  --size-margin-xl: 1rem;
  --size-margin-l: 0.8rem;
  --size-margin-m: 0.5rem;
  --size-margin-s: 0.3rem;
  --size-margin-xs: 0.2rem;
}

[data-theme="dark"] {
  --color-text: #ffffff;
  --color-text-secondary: #828692;
  --color-text-tertiary: #44474f;
  --color-bg: #27292f;
  --color-bg-secondary: #3c3f48;
}
